* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  height: 100vh;

  font-family: "Nunito", sans-serif;

  background: #f1f1f0;
}

#container {
  color: white;
  padding: 2rem;
  height: 100%;
  background: #ff512f;
  background: -webkit-linear-gradient(
    to top,
    #dd2476,
    #ff512f
  );
  background: linear-gradient(
    to top,
    #dd2476,
    #ff512f
  );
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 5%;
}

header h1 {
  text-align: center;

  margin: 0 auto;

  font-size: 4rem;
}

header span {
  font-size: 2rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.back,
.next,
.btn-answers {
  background-color: #fff;
  border-radius: 100px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0 10px 20px 0;
  font-weight: 800;
  height: 55px;
  outline: none;
}

.next,
.back {
  width: 150px;
}

.back {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.previous {
  background: none;
  margin-left: 25px;
  font-weight: 800;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question p {
  width: 50vw;
  background: #f1f1f01c;
  border-radius: 20px;
  margin: 0;
  margin-top: -5%;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.answers-container {
  column-gap: 1em;
  display: grid;
  grid-template-columns: 400px 400px;
  margin: 0;
  margin-top: 40px;
  row-gap: 1em;
  justify-content: center;
}

.btn-answers {
  height: 65px;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.no-display {
  display: none;
}

button {
    cursor: pointer;
}

.btn-sucess {
  background: linear-gradient(
      119.32deg,
      #7bff2a 16.26%,
      rgba(255, 255, 255, 0) 67.98%
    ),
    #59eb00;
  box-shadow: 0px 1px 20px rgb(99 255 105 / 70%);
  color: white;
}

.btn-fail {
  background: linear-gradient(
      109.45deg,
      #ff7373 -7.86%,
      rgba(255, 255, 255, 0) 79.2%
    ),
    #ff4949;
  box-shadow: 0px 1px 20px #ff7b7b;
  color: white;
}

@media only screen and (max-width: 768px) {
  body {
    height: 100%;
  }
  #container {
    padding: 1rem;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20%;
  }

  header h1 {
    margin: 0;
    font-size: 32px;
  }

  header span {
    font-size: 22px;
  }

  .navigation .back {
    height: 40px;
    width: 100px;
  }

  .next {
    height: 30px;
    font-size: 16px;
    width: 60px;
    color: white;
  }

  .next {
    background: none;
    box-shadow: none;
    border-radius: 0 0 0 0;
    border-bottom: 2px solid white;
  }

  .previous {
    margin: 0;
    margin-left: 10px;
  }

  .question p {
    max-width: 700px;
    width: 100%;
    margin: 0;
    margin-top: 10%;
    padding: 0.8rem;
    font-size: 40px;
  }

  .answers-container {
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-answers {
    height: 55px;
    width: 100%;
  }

  .btn4 {
    margin-bottom: 5%;
  }
}
